body {
  background-color: #f4f4f4;
  font-family: "Microsoft Yahei";
}
/*mine--start*/
/*登录页面*/
#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  line-height: 60px;
  padding-right: .5rem;
  padding-left: 1rem;
}
.title {
  position: absolute;
  display: block;
  width: 95%;
  padding: 0;
  height: 55px;
  line-height: 55px;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  margin-left: -20px;
}
.icon1{
  position: absolute;
  left: 10px;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
  color: #FFF;

}
.icon1:hover{
  color: #FFF;
  text-decoration: none;
}
.mask{
  position:fixed;z-index:600;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5)
}
.tuichu{
  width:100%;height:50px;line-height: 50px;background-color:#fff;text-align: center;margin-top:11px;margin-bottom:79px;
}
.tuichu a{
  display: block;width:100%;height:50px;line-height: 50px;font-size: 14px;text-align: center;color:#000;
}
.touxiang {
  width: 100%;
  height: 160px;
  text-align: center;
}
.touxiang img {
  width: 78px;
  height: 78px;
  margin-top: 44px;
  border: 1px solid #fff;
}
.dingdan {
  width: 100%;
  height: 80px;
  margin-top: 0;
}
.center-ordersModule .imgicon img {
  height: 15px;
  margin-right: 5px;
}
.numD {
  position:relative;top:3px;
  color: #fd8900;
  font-size: 18px;
}
.weui-cell {
  margin-left: -15px;
}
.weui-cell__hd img {
  margin-left: 15px;
}
/*mine--end*/
/*ziliao-----start*/
.picT1 {
  padding-left: 15px;
  position: relative;
}
.picT {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.name1 {
  position: absolute;
  right: 0;
}
.bangding {
  width: 100%;
  font-size: 12px;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #919191;
}
/*.weui-panel {
  margin-top: 0;
}*/
.pos {
  position: relative;
}
.shoujihao {
  position: absolute;
  right: 0;
}
.shoujihao2 {
  color: blue;
}
.weui-cells:after {
  border-bottom: none;
}
/*ziliao------end*/
/*changeUser-----start*/
.changeU input {
  display: block;
  width: 90%;
  height: 44px;
  line-height: 44px;
  padding: 5px 0;
  margin:26px auto 0 auto;
  border: 1px solid #eaeaea;
  outline: none;
  border-radius: 27px;

}
.changeU .sure {
  display: block;
  width: 90%;
  height: 44px;
  line-height: 44px;
  margin:26px auto 0 auto;
  border: 1px solid #eaeaea;
  outline: none;
  border-radius: 27px;

}
.changeU input{
  padding-left: 20px;
}
.name2 {
  width: 90%;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 20px;
  color: #999;
}
.sure {
  background-color: #0284fc;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
/*changeUser-----end*/
/*changePsd-----start*/
.sure-ps {
  padding-left: 18px;
  padding-top: 74px;
}
.sureM {
  border-radius: 0;
  background-color: #42e264;
}
/*changePsd-----end*/
/*header----start*/
.backG {
  background-color: #f4f4f4;
}
.tel1 {
  margin-top: 0;
  border-radius: 0;
}
.header {
  font-size: 18px;
  color: #fff;
}
/*header----end*/
/*��ȡ��֤����ʽ��ʼ*/
.yanzheng {
  width: 90%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin:0 auto;
  border-radius: 35px;
  background-color: #0284fe;
}
.yanzheng a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #0284fe;
  border-radius: 35px;
}
.img-ver1 {
  display: inline-block;
}
/*��ȡ��֤����ʽ����*/
/*dachedingdan------start*/
.dacheOrder {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.dacheOrder>a{
  display:block;
  padding:10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-top: 10px;
}
.dacheOrder > span {
  display: inline-block;
  margin: 10px auto 12px;
  padding: 0 5px;
  background-color: #e5e5e5;
  font-size: 12px;
  color: #9f9f9f;
  border-radius: 3px;
}
/*.orderBox {
  width: 376px;
  height: 90px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  margin: auto;
  background-color: #fff;
  padding-left: 16px;
}*/
.fan{
  width: 90%;
  height: 90px;
  border: 1px solid #cacaca;
  -webkit-box-shadow: 0 0 5px #ddd;
  -moz-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
  border-radius: 10px;
  margin:0 auto;
  background-color: #fff;
  padding-left: 16px;
}
.orderBox > p:nth-child(1) {
  text-align: left;
  font-size: 18px;
  color: #202020;
  margin-top: 20px;
  font-weight: 600;
  position: relative;
}
.orderBox > p:nth-child(1) > span {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 14px;
  color: #565656;
  font-weight: 400;
}
.orderBox > p:nth-child(2) {
  text-align: left;
  font-size: 16px;
  color: #4b4b4b;
}
/*dachedingdan----end*/
/*shangjiaApply----start*/
.dacheOrder1 {
  padding-top: 10px;
}
.applyBox {
  margin: auto;
  border-radius: 10px;
  border: 1px solid #dedede;
}
/*shangjiaApply-----end*/
/*dachepinche-----start*/
.dache1,
.pinche1 {
  display: block;
  width: 100%;
  height: 311px;
  background-color: red;
}
.pinche1 {
  margin-top: 1px;
  background: url(../../images/wmpc/11.jpg) no-repeat;
  background-size: 100% 100%;
}
.dache1 {
  background: url(../../images/wmpc/54.jpg) no-repeat;
  background-size: 100% 100%;
}
.cheBox h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 106px;
}
.cheBox p {
  text-align: center;
  color: #fff;
  font-size: 16px;
}
/*tongchengCar-----start*/
.anquanchu {
  width: 100%;
  height: 110px;
  background: url(../../images/wmpc/u132.png) no-repeat;
  background-size: 100%;
  opacity: 0.5;
  border-radius: 5px;
}
.anquan {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 35px;
}
.dizhi12 {
  height: 186px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.dizhi12 ul {
  list-style: disc;
  text-align: left;
  margin-left: 15px;
  margin-top: 48px;
  margin-right: 15px;
}
.dizhi12 ul li:nth-child(1) {
  border-bottom: 1px solid #e0e0e0;
  color: #29c21a;
  font-weight: 600;
}
.dizhi12 ul li:nth-child(2) {
  border-bottom: 1px solid #e0e0e0;
  color: #fb7b00;
  font-weight: 600;
  margin-top: 20px;
}
.hujiaoCir {
  width: 190px;
  height: 190px;
  border: 2px solid #2393fc;
  border-radius: 50%;
  background-color: #fff;
  margin: 82px auto 48px;
}
.shifuZiliao {
  background-color: #fff;
  border-radius: 3px;
  padding:10px ;
}
.shifuZiliao ul {
  text-align: left;
  padding-top: 8px;
  color: #a4a4a4;
  font-size: 16px;
}
.shifuZiliao ul span {
  color: #000;
}
.shifuZiliao ul a.store{
  display: inline-block;
  width:80px;
  height:30px;
  line-height:30px;
  margin-right:5px;
  text-align:center;
  float: right;
  background-color: #0284fe;
  border-radius: 5px;color:#fff;
}
/*changtuCar-----start*/
.fabuNews {
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: -40px;
  top: 2px;
}
/*.shifuZiliao2 {
  height: 180px;
}*/
.shifuZiliao2 ul {
  font-size: 14px;
}
/*dachepinche-----end*/
/*hudongZone��������start*/
.sousuoK {
  width: 100%;
  height: 50px;
  position: relative;
}
.sousuoK .zhaoGongzuo {
  display: block;
  width: 63%;
  height: 37px;
  line-height: 37px;
  background-color: #fff;
  margin-top: 12px;
  margin-left: 19px;
  border: 1px solid #e1e1e1;
  padding-left: 48px;
  border-radius: 25px;
  font-size: 14px;
  color: #989898;
}
.sousuoK .souT {
  position: absolute;
  top: 0;
  right: 20px;
}
.sousuoK img {
  width: 33px;
  height: 33px;
}
.hudongBox .weui-navbar__item.weui-bar__item--on {
  border-bottom: 3px solid #1976d5;
}
.hudongBox .weui-navba {
  width: 900px;
}
.hudongBox .weui-navbar__item {
  padding: 13px 15px;
}
.hudongBox .xiangQ {
  height: 300px;
  background-color: red;
}
.hudongBS{
  width:100%;
  background-color: #fff;
  padding-top:3px;
}
.dongtai1{
  width:100%;
  height:66px;
  position: relative;
}
.dongtai1>img{
  width:50px;
  height:50px;
  border-radius: 50%;
  position: absolute;
  top:15px;
  left:11px;
}
.dongtai1>p:nth-child(2){
  font-size: 16px;
  position: absolute;
  top:14px;
  left:70px;
}
.dongtai1>p:nth-child(3){
  width:41px;
  height:23px;
  line-height: 23px;
  text-align: center;
  background-color: #f69c07;
  color:#fff;
  font-size: 14px;
  position: absolute;
  top:39px;
  left:70px;
  border-radius: 3px;
}
.dongtai1>p:nth-child(4){
  color:#9a9a98;
  font-size: 12px;
  position: absolute;
  top:44px;
  left:120px;
}
.dongtai1>p:nth-child(5){
  color:#507386;
  font-size: 13px;
  position: absolute;
  top:24px;
  right:11px;
  border:1px solid #507386;
  padding:0 3px;
}
.hudongBS>.faB{
  width:394px;
  margin:0 auto;
  word-wrap: break-word;
}
.jiugongG{
  width:100%;
}
.jiugongG>img{
  width:124px;
  height:124px;
  margin-left:10px;
  margin-top:10px;
}
.boxP{
  width:100%;
  height:44px;
  line-height: 44px;
  border-top:1px solid #e1e1e1;
  margin-top:8px;
}
.boxP>a{
  padding:3px 64px;
  color:#454545;
}
.boxP>a:nth-child(1){
  margin-left:40px;
  background: url(../images/pppp_03.png) 30px 6px no-repeat;
  background-size: 17px 15px;
  border-right:1px solid #d4d4d4;
}
.boxP>a:nth-child(2){
  margin-left:25px;
  background: url(../images/pppp_05.png) 30px 6px no-repeat;
  background-size: 17px 15px;
}
/*hudongZone��������end*/
/*fabuDongtai--start*/
.xiangfa {
  width: 100%;
  height: 275px;
  background-color: #fff;
}
.xiangfa textarea {
  display: block;
  width: 90%;
  height: 160px;
  margin: auto;
  padding-top: 15px;
  color: #797979;
  resize: none;
}
.xiangfa a {
  margin-left: 20px;
}
.xiangfa a img {
  width: 76px;
  height: 76px;
  border: 1px solid #dbdbdb;
}
.zhiD {
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #000;
  padding-left: 20px;
  background-color: #fff;
  margin-top: 16px;
}
.zhiD a {
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  margin-left: 78%;
  margin-top: 10px;
}
.biaoQ {
  width: 100%;
  height: 66px;
  line-height: 66px;
  color: #000;
  padding-left: 20px;
  background-color: #fff;
  margin-top: 2px;
}
.biaoQ a {
  display: inline-block;
  width: 140px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  margin-left: 23px;
  margin-top: 10px;
  padding-left: 12px;
  color: #000;
  background: #f6f6f6 url(../../images/wmpc/xia_03.png) 90% 15px no-repeat;
  background-size: 16px 11px;
}
/*fabuDongtai--end*/
/*password kuang----start*/
.backG .pswQ {
  position: relative;
}
.backG .pswQ .input {
 /* display: inline-block;
  position: absolute;
  left: 25px;
  top: 100px;*/
  width: 90%;
  margin: 0 auto;
}
.backG .pswQ .input :last-child {
  border-right: 1px solid #e4e4e4;
}
.backG .pswQ .input input {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  width: 16.7%;
  outline: none;
  font-family: inherit;
  font-size: 34px;
  font-weight: inherit;
  text-align: center;
  line-height: 59px;
  color: #000;
  background: #fff;
  margin-left: -5px;
}
.backG .pswQ .sureM {
  display: block;
  width: 91%;
  height: 52px;
  line-height: 52px;
  background-color: #42e264;
  color: #fff;
  text-align: center;
  margin: 10px auto 0 auto;
  border: 1px solid #e4e4e4;
}
/*password kuang---end*/
/*zhifu---start*/
.zhifu1 {
  height: 55px;
  line-height: 55px;
  margin-top: 30px;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  padding-left: 10px;
  position: relative;
}
.zhifu1 span {
  color: #fd5500;
  position: absolute;
  right: 10px;
}
.fangshi {
  height: 34px;
  color: #6d6d6d;
  line-height: 34px;
  padding-left: 10px;
}
.weixinZ {
  height: 80px;
  background-color: #fff;
  position: relative;
}
.weixinZ > p {
  border-top: 1px solid #fcfcfc;
  width: 100%;
  height: 46px;
  position: absolute;
  top: 19px;
  left: 10px;
}
.weixinZ > p img {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 5px;
}
.weixinZ > p span {
  position: absolute;
  top: 10px;
  left: 65px;
}
.weixinZ > p .weui-cells_checkbox {
  position: absolute;
  right: 10px;
  top: 5px;
}
.querenZ {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  color: #fff;
  background-color: #42e624;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
/*zhifu---end*/
/*nichengMou--start*/
.nichengB {
  width: 100%;
  height: 47px;
  line-height: 47px;

  background-color: #fff;
  border-bottom: 1px solid #ebeceb;
  position: relative;
}
.chenghu{
  padding-left: 14px;
}
.nichengB a:nth-child(1) {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.nichengB a:nth-child(1) span {
  display: inline-block;
  width: 27px;
  height: 4px;
  border-radius: 4px;
  background-color: #0077f7;
  position: absolute;
  bottom: -9px;
  left: 15px;
}
.nichengB a:nth-child(2) {
  color: #939393;
  position: absolute;
  right: 30px;
  top: 0;
}
.bottomP{
  width:100%;
  height:44px;
  line-height: 44px;
  border-top:1px solid #e2e2e2;
  background-color:#f9f9f9;
  position:fixed;
  bottom:0;

}
.bottomP>a{
  padding:3px 50px;
  color:#454545;
}
.bottomP>a:nth-child(1){
  margin-left:35px;
  background: url(../../images/wmpc/pppp_03.png) 30px 7px no-repeat;
  background-size: 17px 15px;
  border-right:1px solid #d4d4d4;
}
.bottomP>a:nth-child(2){
  margin-left:25px;
  background: url(../../images/wmpc/thumbs.png) 30px 7px no-repeat;
  background-size: 17px 15px;
}
.bottomP>a.light{
  margin-left:25px;
  background: url(../../images/wmpc/thumbs1.png) 30px 7px no-repeat;
  background-size: 17px 15px;
}
.pingBox{
  width:100%;
  margin-top:35px;
}
.chakan{
  width:100%;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
}
.chakan .pic_lf{
  width: 13%;
  float: left;
}
.chakan .pic_lf img{
  width:43px;
  height:43px;
  border-radius: 50%;
}
.pic_rt p:nth-child(4)>a{
  display: inline-block;
  width:25px;
  height: 16px;
  color:#888;
  padding-left:30px;
  padding-bottom: 10px;

}
.pic_rt p:nth-child(4)>a:nth-child(1){
  display: inline-block;
  background: url(../../images/wmpc/pppp_03.png) 10px 5px no-repeat;
}
.pic_rt p:nth-child(4)>a:nth-child(2){
  display: inline-block;
  background: url(../../images/wmpc/thumbs.png) 10px 3px no-repeat;
}
.pic_rt p:nth-child(4)>a.light{
  display: inline-block;
  background: url(../../images/wmpc/thumbs1.png) 10px 3px no-repeat;
}
.pic_rt{
  position: relative;
  width: 80%;
  float: left;
  margin-left: 3%;
}
.pic_rt p:nth-child(4){
  position: absolute;
  width: 110px;

  top:0;
  right:5px;
  font-size: 14px;
}
.pinglun2{
  width:94%;
  padding:0 10px 10px 10px;
  border-top:1px solid #ebebeb;
}
.chakan2{
  background-color:#f4f4f4;padding:0;
}
.chakan3{
  padding-top:10px;
}
.fengexian{
  border-top:1px solid #ebebeb;padding-top:10px;
}
.pic_rt1>p:nth-child(4)>a:nth-child(1){
  background: none;;
}
.pic_rt>p:nth-child(2){
  font-size: 12px;
  color:#a0a0a0;;
}
.pinglun{
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}
.pingBoxS{
  width:100%;
  height:94px;
  position: relative;
  background-color: #fff;
}
.pingBoxS>img{
  width:43px;
  height:43px;
  border-radius: 50%;
  position: absolute;
  top:15px;
  left:15px;
}
.pingBoxS>div{
 /* width:343px;*/
  width: 90%;
  height:92px;
  border-bottom: 1px solid #ededed;
  position: absolute;
  left:72px;
}
.pingBoxS>div>p:nth-child(1){
  position: absolute;
  top:10px;
  font-size: 16px;
}
.pingBoxS>div>p:nth-child(2){
  position: absolute;
  top:35px;
  color:#888;
  font-size: 14px;
}
.pingBoxS>div>p:nth-child(3){
  position: absolute;
  top:58px;
  font-size: 16px;
}
.pingBoxS>div>p:nth-child(4){
  position: absolute;
  top:5px;
  right:20px;
  font-size: 14px;
}
.pingBoxS>div>p:nth-child(4)>a{
  display: inline-block;
  width:30px;
  height: 16px;
  color:#888;
  padding-left:30px;
  padding-bottom: 10px;

}
.pingBoxS>div>p:nth-child(4)>a:nth-child(1){
  background: url(../../images/wmpc/pppp_03.png) 10px 6px no-repeat;
}
.pingBoxS>div>p:nth-child(4)>a:nth-child(2){
  background: url(../../images/wmpc/pppp_05.png) 10px 6px no-repeat;
}
/*nichengMou--end*/

.main_box .register,.login{
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}
.main_box .register{
  background-color: #388AA2;

}
.main_box .login{
  cursor: pointer;
  background-color: #BC475C;
}
.main_box .register a,.login a{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.main_box .register a:hover,.login a:hover{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.login-star {
  border-radius: 20px;
  width: 90%;
  margin: 10% auto;
  background-color: #C7C6CC;
  cursor: pointer;
}
.log-step {

  height: 44px;
  line-height: 44px;
}
.log-st-i {
  width: 30px;
  height: 24px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 7px;
}
.log-input {
  margin-left: 20px;
  width: 50%;
  outline: 0;
  border: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
  background-color: #C7C6CC;
  border-right: 1px solid #fff;
}
.img-ver1 {
  margin-top: 5px;
  margin-right: 10px;
  outline: 0;
  border: none;
  height: 30px;
  line-height: 30px;
  width: 33%;
  background-color:#C7C6CC ;
  text-align: center;
 
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.orderBox li{
  height:30px;line-height: 30px;font-size: 16px;;
}
.chexinxi1{
  display:block;padding-top:10px;background-color: #fff;border:1px solid #dcdcdc;border-radius: 3px;
}
.chexinxi1 ul{
  margin-left: 10px;padding-bottom:10px;padding-top:0;
}
.chexinxi1 ul>li:nth-child(2)>span:nth-child(2){
  display:block;padding:2px 8px;text-align:center;float: right;background-color: #0284fe;border-radius: 5px;color:#fff;margin-right:10px;font-size: 15px;
}
.sijiG{
  display:block;margin-top:10px;padding-bottom:15px;background-color: #fff;border:1px solid #dcdcdc;border-radius: 3px;
}
.sijiG>p:nth-child(1){
  width:100%;height:58px;line-height:58px;padding-top:10px;text-align: center;color:#0067fe;
}
.sijiG>p:nth-child(2){
  width:100%;height:33px;line-height:33px;text-align: center;color:#fa8200;
}
.sijiG>p:nth-child(3){
  width:100%;height:33px;line-height:33px;text-align: center;color:#fa8200;
}
.hujiaoCir>p:nth-child(1){
  color:#0077fd;text-align: center;margin-top:46px;font-size: 16px;
}
.hujiaoCir>p:nth-child(2){
  color:#fd8800;text-align: center;margin-top: 16px;font-size:22px;font-weight: 600;
}
.hujiaoCir>p:nth-child(3){
  color:#fd8800;text-align: center;margin-top:0;font-size: 16px;
}