@CHARSET "utf-8";
/*卡片页css 调试版*/

body{
    background-color: #F5F5F5;
}

/*卡片页标题*/
.cardTitle{font-size:20px;font-family:"微软雅黑";color:#005590;margin:10px auto 10px auto; text-align:center}
.cardTitle span{ color:#005590; }
form{margin:0;}

/*树形表格展示*/
.treeTable {border:solid #C7C7C7;border-width:1px 0 0 1px;padding:0;}
.treeTable th {height:30px;line-height:30px;background-color: #4ea5ff;font:9pt "微软雅黑";color:#fff;border-bottom:1px solid #C7C7C7;border-right:1px solid #C7C7C7;font-weight:bold;}
.treeTable th img {margin-left:6px;margin-right:8px;}
.treeTable tr {border:solid #C7C7C7;border-width:0 1px 1px 0;height:27px;line-height:27px;}
.treeTable td {border:solid #C7C7C7;border-width:0 1px 1px 0;padding:2px 2px 2px 6px;font:9pt "微软雅黑";color:#000000;word-break:break-all; background-color: #FFFFFF}

/*卡片数据展示*/
.cardTable .tdValue{line-height:20px;}
.cardTable .tdHeader {font-weight:bold;background:#F6F6F6;text-align: right;padding-right: 8px;padding-left: 0px;}
.cardTable {border:solid #C7C7C7;border-width:1px 0 0 1px;padding:0;}
.cardTable th {height:30px;line-height:30px;background-color: #4ea5ff;font:9pt "微软雅黑";color:#fff;border-bottom:1px solid #C7C7C7;border-right:1px solid #C7C7C7;font-weight:bold;}
.cardTable th img {margin-left:6px;margin-right:8px;}
.cardTable tr {border:solid #C7C7C7;border-width:0 1px 1px 0;height:27px;line-height:27px;}
.cardTable td {border:solid #C7C7C7;border-width:0 1px 1px 0;padding:2px 2px 2px 6px;font:9pt "微软雅黑";color:#000000;word-break:break-all; background-color: #FFFFFF}
.cardTable th.rowspan_th{height:60px;line-height:60px;background:url(pic/grid-blue-split-2.gif);font:9pt "微软雅黑";color:#104a4b;border-bottom:1px solid #C7C7C7;border-right:1px solid #C7C7C7;white-space:nowrap;font-weight:bold}
.tdLast, .tdLast td{text-align: center;background-color:#F6F6F6;}
iframe{
    margin-bottom: 10px;
}
.hiddenList {font:10pt "微软雅黑";color:#000000;margin-bottom: 5px;margin-top:5px;width:200px;cursor: pointer;margin-left: 5px;}
.hiddenList img{border: none;}
textarea{width:100%;overflow:auto;border:1px solid #CCCCCC;}
select {width: 131px;}
/*应急处置背景颜色*/
.programBackColor {
    background-color: #f1fff0;
}
