.makeMonBox{
    width:100%;
}
.weixinbox{
    width:100%;background-color: #fff;
}
.weixinbox>p{
    width:92%;padding:10px 4% 5px 4%;font-size: 14px;color:#575757;background-color: #ebebeb;
}
.sweixin{
    width:96%;padding:0 0 0 4%;height:70px;background-color: #fff;position: relative;margin-bottom:1px;
}
.sweixin>img{
    width:50px;height:50px;margin-top:10px;border-radius: 50%;
}
.sweixin>div{
    width:80%;height:70px;border-bottom:1px solid #ebebeb;position: absolute;top:0;left:22%;
}
.sweixin>div>h3{
    font-size: 16px;font-weight: 600;padding-top:14px;
}
.sweixin>div>p:nth-child(2){
    color:#757575;font-size: 14px;
}
.sweixin>div>p:nth-child(3){
    color:#000;font-size: 14px;position: absolute;top:15px;right:8%;
}