.bgPic{
    width:100%;height:150px;background: url(../../images/aqgs/bg1.png) no-repeat;background-size: cover;
    position: relative;
}
.bgPic>.bgPicx{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -35px;
    margin-left: -35px;
    overflow: hidden;
}

.bgPic>.bgPicx>img{
    /*width:18%;height:auto;border-radius: 50%;position: absolute;top:42px;left:41%;*/
    position: absolute;
}
.bgPic>p{
    width:100%;height:32px;line-height: 32px;font-size: 16px;color:#fff;text-align: center;position:absolute;
    left:0;bottom:10px;
}
.wrapper01 {
    position:relative;height: 88px;width: 100%;overflow: hidden;
}
.wrapper01 .scroller {
    position:absolute
}
.wrapper01 .scroller li {
    width:88px;  height:88px; float: left;border-right:1px solid #c1c1c1;
}
.wrapper01 .scroller li a img{
    width:88px;height:88px;
}
.baseBox{
    width:100%;
}
.baseBox>p{
    width:92%;padding:5px 4% 0;font-size: 14px;color:#7e7c7d;height:22px;line-height: 22px;
}
.baseBox>div{
    width:92%;padding:0 4% 10px;background-color: #fff;overflow: hidden;
}
.baseBox>div>a{
    float:left;padding:5px 10px;background-color: #dcdcdc;margin-right:4%;border-radius: 15px;
    margin-top:10px;color:#000;font-size: 14px;
}
.connect{
    display: block;width:60%;height:44px;line-height: 44px;color: #fff;font-size: 18px;background-color: #e8275e;
    margin:10px auto;text-align: center;border-radius: 25px;
}
.bigPic{
    width:100%;height:auto;
}
/*.connectBox{*/
    /*width:82%;height:165px;position: fixed;left:9%;top:200px;background-color: #fff;border-radius: 5px;*/
    /*z-index:101;display: none;*/
/*}*/
.bg_k{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-left: -125px;
    margin-top: -65px;
    width: 250px;
    height: 130px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}
.bg_k .bg_1{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #CACACA;
}
.bg_k .bg_2{
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    display: -webkit-flex;
}
.cancel,.call{
    display: block;
    height: 60px;
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 15px;
}
.cancel{
    border-right: 1px solid #CACACA;
}
.call{
    color: #EB406F;
}
.connectBox>p:nth-child(1){
    width:100%;height:106px;line-height:106px;border-bottom:1px solid #c4c4c4;text-align: center;color:#000;
    font-size: 18px;
}
.connectBox>p:nth-child(2){
    width:100%;height:57px;overflow: hidden;
}
.connectBox>p:nth-child(2)>a{
    display: block;width:50%;height:57px;line-height: 57px;text-align: center;font-size:18px;color:#000;
    float: left;
}
.connectBox>p:nth-child(2)>a:nth-child(2){
    width:49%;color:#e8275e;border-left:1px solid #c1c1c1;
}