/*µ×²¿*/
.bot60{
  width: 100%;
  height: 52px;
}
.weui-tabbar__item .foot-menu-home{
  background:url(../../images/aqgs/circle.png) no-repeat;
  background-size:25px;
}
.weui-tabbar__item.weui-bar__item--on .foot-menu-home{
  background:url(../../images/aqgs/circle1.png) no-repeat;
  background-size:25px;
}
.weui-tabbar__item .foot-menu-singer{
  background:url(../../images/aqgs/circle.png) no-repeat;
  background-size:25px;
}
.weui-tabbar__item.weui-bar__item--on .foot-menu-singer{
  background:url(../../images/aqgs/circle1.png) no-repeat;
  background-size:25px;
}
.weui-tabbar__item .foot-menu-contact{
  background:url(../../images/aqgs/circle.png) no-repeat;
  background-size:25px;
}
.weui-tabbar__item.weui-bar__item--on .foot-menu-contact{
  background:url(../../images/aqgs/circle1.png) no-repeat;
  background-size:25px;
}
.weui-tabbar__item .foot-menu-my{
  background:url(../../images/aqgs/circle.png) no-repeat;
  background-size:25px;
}
.weui-tabbar__item.weui-bar__item--on .foot-menu-my{
  background:url(../../images/aqgs/circle1.png) no-repeat;
  background-size:25px;
}